
#pyramid {
display:fixed;
    line-height: 0;
    font-size: 25px;
}

body {

    display:inline block;
    font-family: "Courier New", monospace;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

h1{
    text-align:center;
    font-family:"helvetica";
    font-weight: bold;
    font-size: 50px;

    
  border-radius: 25px;
  border: 2px solid  purple;
  padding: 20px; 
  


    background-color:purple;
    color:white;

    margin:5px 300px 5px 300px;
}
